body {
  background: linear-gradient(135deg, #2c2c2c, #4b2e1e);
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

main {
  justify-content: center;
  align-items: center;
  padding: -4px;
  margin: 13px;
  display: flex;
  width: 100%;

  flex-direction: column;
}

.event-card {
  background: rgba(107, 255, 1, 0.041);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, background 0.3s ease;
}

.event-content:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.2);

  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.event-card h3 {
  margin-top: 15px;
  font-size: 2rem;
  color: #fff;
  font-weight: bolder;
}

.event-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  flex-direction: row; /* Default layout for large screens */
  margin: 5%;
}



.msg-image img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: rgba(165, 42, 42, 0.505) 5px solid;
  box-shadow: 0 0 15px rgba(206, 40, 40, 0.456);
}

.event-content {
  margin-left: 20px;
}

.event-content h2 {
  color: #ffcc00;
  text-shadow: 2px 2px 5px black, -1px -1px 5px black, 1px -1px 5px black,
    -1px 1px 5px black, 1px 1px 5px black;
}

.date {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 0px;
  text-align: center;
}

.info {
  padding: 10px 5px;
  text-align: justify;
}


/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  /* Tablet and small screens */
  .event-container {
    flex-direction: column; /* Stack image and content vertically */
    padding: 15px;
  }



  .event-content {
    margin-left: 0; /* Remove left margin in mobile */
  }

  .event-content h2 {
    font-size: 1.5em; /* Adjust heading size for smaller screens */
  }


}
